<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Avatar:</strong>
  <%= image_tag @user.avatar.service_url(filename: 'x-oss-process=image/resize,h_100,w_100') %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
